<html lang="en">
<head>
    <!-- <meta> tags> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Book Face</title>
    <link rel="stylesheet" type="text/css"   href="../css/mysytle.css">

</head>

<body>
    <div class="container">
        <h1>Warning...! {{errormessage}} </h1>
        <p>Refer below..!</p>
        
        {{>header}}
        {{>footer}}
    </div>
   
</body>
</html>
