<html lang="en">
<head>
    <!-- <meta> tags> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"   href="../css/mysytle.css">
    <link rel="icon" href="https://play-lh.googleusercontent.com/gd7vl3Bb-PPYSzae1LJSO3gsuhY5u6vlpbB2CPa-sC5MzWVZo9zo4Q1ImKbrbbDGtA">
    <title>help</title>
    
</head>

<body>
    <div class="container">
        {{>header}}
        {{>footer}}
        <h1>I am  Help Handlebars </h1>
        <img src="https://m.economictimes.com/thumb/msid-69278189,width-1200,height-900,resizemode-4,imgsize-74151/help-getty.jpg"/>
    </div>
   


   
</body>
</html>
