<html lang="en">
<head>
    <!-- <meta> tags> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"   href="../css/mysytle.css">
    
    <link rel="icon" href="https://play-lh.googleusercontent.com/gd7vl3Bb-PPYSzae1LJSO3gsuhY5u6vlpbB2CPa-sC5MzWVZo9zo4Q1ImKbrbbDGtA">
    <title>Main</title>
</head>

<body>
    <div class="container">
        <h1>I am an Main Handlebars</h1>
        {{>header}}
        
        <img src="https://media1.giphy.com/media/H6huqjLjL8K3iF3Dec/giphy.gif" style="margin-bottom: 6px;"/>
        <form style="margin-left:73px;">
            <input placeholder="enter location">
            <button>find whether data</button>
        </form>
       
        <h5 id="message-1"></h5>
        <h5 id="message-2"></h5> 
         {{>footer}}
    </div>
    <script src="../js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
